<h3><%= commentable.comments.count %> comments</h3>
<hr>
<%= render :partial => "comments/comment", :collection => commentable.comments %>
<%= render :partial => "comments/new" , locals: { :commentable => commentable } %>
