<div class="comments-container">
	<%= form_for :comment, :url => "comments" do |f| %>
	  <div>
	    <div ><%= f.text_area :text, placeholder: "leave a comment...",class: "comment-text-box"%></div>
	  </div>
	  <%= f.submit "Comment" %>
	<% end %>
</div>
