<div style="width: 100%; height: 100%; text-align: center">
	<div class="success">
		<h2>Congratulations!</h2>
		<p>Your account has been created successfully.</p><br/>
		<p>You can visit <%= link_to "Home", documents_path %> now and start browsing documents on <%= image_tag "logo_small.png" %></p>
	</div>
</div>