<h3><%= @documents.count%> Documents</h3>
<div class="card-container">
	<% @documents.each do |document|%>
		<div class="card" style="background-image: url(<%= document.slides.first.file_path %>)">
				<a href="<%= document_path(document.id) %>">
					<div><%= document.name %></div>
				</a>
		</div>
	<%end%>
</div>
