<div class="title"><%= @documents.count %> Documents</div>
<div class="card-container">
	<% @documents.each do |document|%>
		<%= render :partial => "partials/card" , locals: { :background => "/uploads/#{document.id}/thumbnails/#{document.slides.first.file_path}", :url =>  document_path(document.id), :title =>  document.name} %>
	<%end%>
</div>
