<h3><%= @documents.count%> Documents</h3>
<% @documents.each do |document|%>
	<div>
		<h3><%= document.name %></h3>
		<%= link_to image_tag(document.slides.first.file_path), document_path(document.id) %>
	</div>  

<%end%>

