/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.header {
    padding: 1em 2.5em 0.5em 2.5em;
    color: #fff;
    border-bottom: 5px #411606;
    border-bottom-style: double;
    background: rgba(0,0,0,0.4);
    /*background: linear-gradient(to right, #F18544,#D95B32,#D5542D, #BD2412);
    background: -o-linear-gradient(to right, #F18544,#D95B32,#D5542D, #BD2412);
    background: -moz-linear-gradient(to right, #F18544,#D95B32,#D5542D, #BD2412);
    background: -webkit-linear-gradient(to right, #F18544,#D95B32,#D5542D, #BD2412);*/
}
.header img {
  vertical-align: middle;
}
/*.header a {
  color: inherit;
	text-decoration: none;
	padding: 8px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.header a:hover {
  background: rgba(0, 0, 0, 0.4);
}*/
.header input {
  font-size: 14px;
  padding: 8px;
  margin-right: 4px;
  vertical-align: middle;
  border: 1px;
  border-radius: 4px;
}
.header input[type=submit] {
  background: #EF7E38;
  border-radius: 4px;

}
.card-container {
  text-align: center;
}
.card {
  position: relative;
  box-shadow: 0 0 1px 1px #DDD;
  overflow: hidden;
  width: 15em;
  height: 15em;
  display: inline-block;
  margin: 5px;
  color: #fff;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card div {
  position: absolute;
  text-indent: 0.5em;
  padding-right: 2em;
  bottom: 0;
  /*background: rgba(255, 141, 0, 0.8);*/
  background: #FF8D00;
}
.card a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}
