// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-container{
	text-align:center;
}

.comment-text-box{
// width: 85%;
// float:left;
	outline: none;
	border: none;
	resize: none;
	/* background: rgba(0,0,0,.3); */
	width: 80%;
	left: 0;
	position: relative;
	overflow: hidden;
}

input[type=submit] {
	display: none;
}

p {
	white-space: pre-line;
}
