// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like{
  width:30px;
  height:30px;
  display:inline-block;
  float:left;
  margin-left:40%;
    margin-top:13px;

	}

.unlike{
 width:30px;
  height:30px;
  display:inline-block;
  float:left;
  margin-left:40%;
    margin-top:23px;

  }

.like-container{
  display:inline-block;
  width:100%;
}

.like-header{
  display:inline-block;
  margin-left:-450px;
}
	