// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slides-show {
background-color: white;
}

.slide-container{
    text-align:center;
	border-radius:25px;
	border:solid;
	border-color:#d35400;
    
 }

 
.prev-slide{
 margin-top:720px;
 display:block;
		}

.next-slide{
margin-top:720px;
 display:block;
		}


.box{
   	  background-color :  #EEE8AA;
    margin-top:800px;
    	width:350px;
    background-size:cover;
    height:400px;
    padding:20px;
    border-radius:25px;
    display:block;   

}

.comments{
   
    position:realtive;
    border-radius:25px;
	display:block;

}

.likes{

    	width:300px;
      	display:block;
      	float:left;   

}


.link{
 margin-top:10px;
 display:block;
 margin-left:50px;
 padding-bottom:40px

 	}
