// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slides-show {
text-align:center;
}

.slide-container{
    margin:0px;
text-align:center;
}

.slide{
    margin-top:20px;
    border-radius:25px;
    border:solid;
    border-color:#d35400;
    display:inline;
    background-color: white;
}

.prev-slide{
 margin-top:25%;
  margin-left:60px;
display:inline;
float:left;

		}

.next-slide{
margin-top:25%;
margin-right: 60px;
display:inline;
float:right;
		}


.box{
    margin-top:5px;
    width:100%;
    background-size:cover;
    padding:20px;
    display:block;
    text-align: center;

}

.comments{
   background-color: white;
   width: 60%;
   text-align: left;
   margin-left: 20%;
   padding: 14px;
    border-radius:10px;
    border:solid;
    border-color:#d35400;
    padding-bottom: 38px;



}

.likes{


}


.link{
 margin-top:20px;
 display:inline-block;
 text-align: center;
 text-decoration: none;
 font-family: 'Nixie One';
 font-size: 20px;
 font-weight: 100;
 	}
